.Profile {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 #000000;
    border-radius: 15px 15px 15px 15px;
}

.Profile__header{
    border-radius: 15px 15px 0 0;
    padding: 10px;
    background: #455a64;
    display: flex;
    justify-content: center;
}

.Profile__section-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Profile__logo{
    max-width: 100%;
    height: auto;
}

.Profile__avatar{
    margin-right: 15px;
    width: 120px;
    height: 120px;
}

.Profile__section-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: lightgray;
}

.Profile__footer{
    height: 54px;
    display: flex;
    justify-content: center;
    color: #00DCD4;
    font-style: italic;
    align-items: center;
}